@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: 225 15% 16%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Helvetica, sans-serif;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .delay-200 {
    animation-delay: 2s;
  }

  .delay-300 {
    animation-delay: 3s;
  }

  .delay-500 {
    animation-delay: 5s;
  }

  .delay-700 {
    animation-delay: 7s;
  }
}
